.main {
  display: grid;
  place-content: center;
  min-height: 100vh;
  padding: 1rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.title img {
  cursor: pointer;
}

.listItemContentWrapper {
  display: flex;
  align-items: center;
}

.button {
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  border: none;
  outline: none;
}

.addButton {
  background-color: transparent;
}

.deleteButton {
  border-radius: 50%;
}
